body {
    background-color: #111420 !important;
    font-family: 'TT Norms Pro', 'sans-serif' !important;
    text-transform: uppercase;
}

body div,
h2 {
    color: #ffffff;
}

p,
h2 {
    background-color: #222633;
    opacity: 0.9;
    font-size: 20px !important;
}

#root {
    height: 100%;
}

.App {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-flow: column;
}
.details-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}
.wav-container {
    min-width: 600px;
    max-width: 800px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-flow: column;
    gap: 10px;
}

.wav-upload,
.wav-uploaded,
.wav-details {
    display: flex;
    width: 60%;
    border: 10px solid #222633;
    position: relative;
    flex-flow: column;
    box-shadow: 0 0 0 1px #363946;
}

.wav-upload {
    height: 80%;
    cursor: pointer;
}

.wav-uploaded {
    height: 200px;
}

.wav-upload > p,
.wav-uploaded > p,
.wav-details h2 {
    height: 30px;
    padding: 0;
    margin: 0;
    width: 100%;
    font-weight: normal !important;
    line-height: 1 !important;
}

.wav-upload > div,
.wav-uploaded > div {
    margin: auto auto;
    height: 20px;
    color: #ffffff;
    opacity: 0.7;
    font-size: 13px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

h2 {
    margin: 0 !important;
    width: 100%;
    font-size: 18px !important;
    padding-bottom: 10px !important;
    padding-left: 5px !important;
}

ul li:first-child {
    background-color: #363946;
    font-size: 12px;
}

ul li:first-child div {
    opacity: 1 !important;
}

ul > li > div {
    border: 2px solid #222633;
    padding: 3px 3px 3px 5px;
    width: 50%;
    opacity: 0.7;
    font-size: 13px;
}

div .label.div .results {
    font-size: 11px;
    opacity: 0.8;
}
